.container
  .col-md-6
    h1 Калькулятор доходности
    h3 Для расчета доходности в абсолютном выражении, введите желаемую сумму инвестиций и нажмите кнопку "Рассчитать"
    h4 Текущие процентные ставки
    p
      | Оптимистичная:
      ==< number_to_percentage(@optimistic_percent, precision: 2)
    p
      | Реалистичная:
      span id="realistic_percent"
        ==< number_to_percentage(@realistic_percent, precision: 2)
    hr/
    #flickr_load_form.form-inline
      .form-group
        span> Ведите сумму:
        ==< text_field_tag :invest_sum
        ==< submit_tag 'Рассчитать доходность', class: 'btn btn-primary', id: 'calculate_profit'
    br/
    #result
